 - It must be semantically equivalent to the original function.
 - Wherever possible, eschew the use of inline assembly in favor of more straightforward, standard Solidity
 - You may ignore the gas implications of any code you write: code that is accepted by the pointer analysis is
   preferable to gas efficient code. However, you should consider that the original code may by optimized for gas
   consumption, which should inform your understanding of its intent
